.auth-box {
    max-width: 500px;
    .form-group {
      position: relative;
      margin-bottom: 20px;
  
      input, select {
        padding: 10px;
        height: 40px;
      }
      
      label {
        position: absolute;
        background: var(--white);
        top: -11px;
        left: 10px;
      }
    }
  }