// Variables

$font-family-sans-serif: "Roboto", Arial, sans-serif;
$font-family-base:       $font-family-sans-serif;
$headings-font-family:   "Roboto", Arial, sans-serif;

$h1-font-size: 1.75rem;

$breadcrumb-border-radius: 0;
$breadcrumb-bg: #fafafa;
$breadcrumb-margin-bottom: 0;  
$table-cell-padding-sm: 0 5px;

$theme-colors: (
	"dark": #212529,
//class colors
	"warlock": 		#dcf3ff, //1
	"blade_dancer": #F6BF26, //2
	"blade_master": #D81B60, //3
	"destroyer": 	#795548, //4
	"force_master": #AD1457, //5
	"gunner": 		#8E24AA, //6
	"kung_fu": 		#F09300, //7
	"soul_fighter": #90aad8, //8
	"assasin": 		#B39DDB, //9
	"summoner": 	#33B679, //10
);

// Imports
@import "node_modules/bootstrap/scss/bootstrap";

//Other styles

li {
  list-style: none;
}

body{
	background: url(../images/background.jpg) no-repeat;
}

.table th, .table td {
	vertical-align: middle;
	line-height: 25px;
}