.navbar {
    right: 0px;
    left: 0px;
    padding-bottom: 0.625rem;
    min-height: 53px;
    position: absolute;
    width: calc(100%-80px);
    padding-top: 10px;
    z-index: 1029;
    box-shadow: none;
    color: rgb(255, 255, 255);
    background-color: transparent !important;
    margin-bottom: 0px;
    margin-left: 80px;
  }
  .navbar .navbar-wrapper {
      display: inline-flex;
      align-items: center;
  }
  .navbar .navbar-brand {
      text-transform: uppercase;
      font-size: 0.8571em;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      line-height: 1.625rem;
      vertical-align: middle;
      display: inline-block;
  }
  
  .nav-row {
    width: calc(100% + 30px)
  }
  