.sidebar-sticky {
    position: sticky;
    top: 0px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.content-wrapper {
    background: #f5f5f5;
    min-height: 100vh;
}

.brand-name {
    font-size: 17px;
}

.navbar-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.dropdown-item {
    font-size: 14px;
}

.sidebar{
    background: #212529a8;
}

.logo {
    background: url(../images/logo.png) no-repeat;
    background-position: 50%;
    height: 210px;
    width: 500px;
  }

  .hr-light{
    border-top: 1px solid #f8f9fa73;
    margin: 10px 15px;
}

.side-nav{
    margin-top:30px;
}